@font-face {
    font-family: "Gitaluevo";
    src: url('../assets/font/PaytoneOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* set the container on top right with background color */
.id {
    margin-left: auto; 
    margin-right: -220px;
    background-image: radial-gradient( circle 650px at 4.9% 7.9%,  rgba(218,0,0,1) 14.1%, rgba(168,2,144,1) 65%, rgba(102,2,110,1) 90% );
    overflow: hidden;
    width: 500px;
    height: 20%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    /*border on the top,left,bottom side*/
    border-top: 2px solid #500d0d;
    border-left: 2px solid #500d0d;
    border-bottom: 2px solid #500d0d;
    border-radius: 30px 0px 0px 30px;
    transition: all 0.3s ease-in-out;
}

/*on hover id, move it to the left*/
.id:hover {
    /*move it to the left*/
    margin-right: -80px;
    color: white;
    transition: all 0.3s ease-in-out;
}

/* center h1 in id */
.id h1{
    text-align: left;
    margin-left: 45px;
    font-size: 30px;
    padding: 10px;
}


/*put background color to the body */
body {
    /*disable scrollbar*/
    overflow-x: hidden;
    background-color: #e89261;
    background-image: linear-gradient(62deg, #e89261 0%, #F7CE68 100%);
    font-family: "Gitaluevo";

}

img{
    width: 50px;
    height: 50px;
}

/*make the div informations on the left and width = 200px */
.informations {
    float: left;
    background-image: linear-gradient(to right, #D31027,#ee465a);
    height: 25%;
    display: grid;
    /*grid has two columns*/
    grid-template-columns: 0.5fr 0.5fr;
    /*grid has four rows*/
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;
    position: absolute;
    top: 0;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #500d0d;
    transition: all 0.2s ease-in-out;
}

/*all images in informations are 50x50 px*/
.informations img{
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

/*texts are center with images */
.informations p {
    text-align: right;
    font-size: 20px;
    ;
    margin-right: 10px;
    margin-top: 13px;

}

/* on hover informations hightlight all text in it */
.informations:hover {
    background-color: #ad1e1e;
    color: white;
    transition: all 0.2s ease-in-out;
}

.informations:hover img {
    filter: invert(100%);
    transition: all 0.2s ease-in-out;
    /*underline the text*/
}

/* center the menu in the body */
.menu {
    position: absolute;
    top: 155%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height : 90%;
    /*make separations between the menu items*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu img{
    width: 75px;
    height: 75px;
}

.menu h1{
    font-size: 30px;
    margin-top: 10px;
}

.btn-grad{background-image: linear-gradient(to right, #D31027 0%, #ee465a  51%, #D31027  100%)}
.btn-grad {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 5px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.title{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experience{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experience li:not(:first-child){
    border-top: 2px solid #000;
}


.formation{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formation li:not(:first-child){
    border-top: 2px solid #000;
}

.skill {
    background-color: #000;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.competences{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.competences .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

.competences .icons p{
    /*center the text*/
    text-align: center;
}

.competences-perso{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 15px;
    margin: auto;
}

.container span{
    font-size: 18px;
    margin-right: 10%;
    /*center vertically the text*/
    display: flex;
    justify-content: center;
    align-items: center;

}


.html {
    width: 80%;
}

.css{
    width: 80%;
}

.js{
    width: 60%;
}

.python{
    width: 80%;
}

.java{
    width: 70%;
}

.c{
    width: 55%;
}

.git{
    width: 60%;
}

.github{
    width: 60%;
}

.fr{
    width: 100%;
}

.en{
    width: 70%;
}

.langues{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.langues .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.loisirs{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*adding margin bottom to the last item*/
    margin-bottom: 10px;

}

.loisirs .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.loisirs .icons p{
    /*put the text on the left*/
    text-align: left;
}

.icons{
    margin-bottom: 5%;
}







.hover_image{
    margin-left:20px;
}

.hover_image:hover {
    text-decoration: none
}
.hide {
    display:none
}
.hover_image:hover img:first-child{display:none}
.hover_image:hover img:nth-child(2){display:inline-block}





