@font-face {
    font-family: "Gitaluevo";
    src: url('../assets/font/PaytoneOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.id {
    width: 500px;
    height: 20%;
    margin-top: 10px;
}

.id h1{
    text-align: left;
    margin-right: 30px;
    font-size: 2.5vw;
}


body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #e89261;
    font-family: "Gitaluevo";
    padding: 0;
}

img{
    width: 50px;
    height: 50px;
}

.informations {
    width: 25vw;
    /*putting this div on the top right corner*/
    position: absolute;
    top: 0;
    right: 0;
    
    background-image: linear-gradient(to right, #D31027,#ee465a);
    height: 25%;
    display: grid;
    /*grid has two columns*/
    grid-template-columns: 0.5fr 0.5fr;
    /*grid has four rows*/
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid #500d0d;
    transition: all 0.2s ease-in-out;
}

.informations img{
    margin-left: 10px;
}

.informations p {
    text-align: right;
    font-size: 1.5vw;
    ;
    margin-right: 10px;
    margin-top: 13px;

}

/* center the menu in the body */
.menu {
    position: relative;
    margin-top: 225px;
    /*center the menu*/
    margin-left: 50%;
    transform: translateX(-50%);
    width: 1250px;
    height : 90%;
    /*make separations between the menu items*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu img{
    width: 6vw;
    height: 6vw;
}

.menu h1{
    font-size: 4vw;
    margin-top: 10px;
    background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.menu h3{
    font-size:2vw;
}

.menu p{
    font-size: 1.4vw;
    margin-top: 10px;
}

.menu .competences-perso p{
    font-size: 1.7vw;
}

.title{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experience{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experience li:not(:first-child){
    border-top: 2px solid #000;
}


.formation{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formation li:not(:first-child){
    border-top: 2px solid #000;
}

.skill {
    background-color: #000;
    color: white;
    padding: 1%;
    text-align: right;
    border-radius: 15px;
}

.competences{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.competences .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.competences .icons p{
    /*center the text*/
    text-align: center;
}

.competences .icons img{
    /*center the image*/
    margin-left: 50%;
    transform: translateX(-50%);
}

.competences-perso{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: rgb(192, 192, 192);
    width: 11vw;
    border-radius: 15px;
    margin: auto;
}

.container span{
    font-size: 1.3vw;
    margin-right: 10%;
    /*center vertically the text*/
    display: flex;
    justify-content: center;
    align-items: center;

}

/*progress bars*/
.html {
    width: 80%;
}

.css{
    width: 80%;
}

.js{
    width: 60%;
}

.python{
    width: 80%;
}

.java{
    width: 70%;
}

.c{
    width: 55%;
}

.git{
    width: 60%;
}

.github{
    width: 60%;
}

.fr{
    width: 100%;
}

.en{
    width: 70%;
}


.langues{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.langues .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.langues .icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loisirs{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.loisirs .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.loisirs .icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.icons{
    margin-bottom: 5%;
}

.hover_image{
    margin-left:20px;
}

.hover_image:hover {
    text-decoration: none
}
.hide {
    display:none
}
.hover_image:hover img:first-child{display:none}
.hover_image:hover img:nth-child(2){display:inline-block}
.langues .hover_image:hover .skill{background-color: #D31027}




/*adapting font size and img size to the screen size*/
@media screen and (max-width: 1000px) {

    .title{
        /*putting it on top right corner*/
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(12%, -20%);
        font-size: 3vw;
    }

    .id h1{
        font-size: 5.5vw;
        /*putting it on top left corner*/
        top: 0;
        left: 0;
        transform: translate(0%, -20%);

    }

    .informations p{
        font-size: 4.5vw;
    }

    .informations{
        width: 45%;
        height: 20%;
        background: none;
        border: none;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
        /*put the div in the middle of the screen*/
        margin-top: 40%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    .informations img{
        width: 7vw;
        height: 7vw;
    }

    .menu{
        margin-top: -20%;
        /*center the menu*/
        margin-left: 50%;
        transform: translate(-51%, 0%);
    }

    .menu img{
        width: 11vw;
        height: 11vw;
    }

    .menu h1{
        font-size: 6vw;
    }

    .menu .experience h3{
        font-size:2.5vw;
    }

    .menu .formation h3{
        font-size:3vw;
    }
    
    .menu .experience p{
        font-size: 4vw;
        margin-top: 10px;
    }

    .menu .formation p{
        font-size: 2.6vw;
        margin-top: 10px;
    }

    .menu .competences-perso p{
        font-size: 4vw;
    }

    .container span{
        font-size: 2.5vw;
    }

    .competences .icons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 35px;
        justify-items: center;
    }

    .menu .icons p{
        font-size: 3.5vw;
    }

    .loisirs .icons{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 35px;
        justify-items: center;
    }

    .hover_image img:nth-child(2){display:inline-block}
    .hover_image img:first-child{display:none}
}
